.ungu {
    background-color: blueviolet;
}

.fontcolor {
    color: darkred;
}

.ratatengah {
    text-align: justify;
}

.bg-custom {
    background: #444;
}

.navbar-nav .nav-link {
    color: deeppink;
}